{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>

    var get_posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">

        <div class="button_bar">
            <button v-if="!is_adding_post" class="btn btn-danger btn-sm" v-on:click="add_post_button()" v-bind:disabled="!logged_in">
                <i class="fa fa-plus"></i> Add new post
            </button>
            <button v-if="is_adding_post" class="btn btn-warning btn-sm" v-on:click="add_post_button()">
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>

        <div id="add-new-post" v-if="is_adding_post">
            <textarea v-model="form_content" rows="5" cols="45"></textarea>
            <br><br><button class="btn btn-danger btn-sm" v-on:click.prevent="add_post(), add_post_button()">
                Post
            </button>
        </div>


        <div class="post_list">
            <div v-for="post in posts">
                <div class="post-content">
                    <div v-if="post.id != currently_editing">
                        <p>${post.user_name}</p>
                        <div class="content">
                            ${post.post_content}
                        </div>
                        <div class="created_on">
                            ${post.created_on}
                        </div>
                        <!--Only display edited on if the created on and updated on are different-->
                        <div class="edited_on" v-if="post.created_on != post.updated_on">
                            Edited on: ${post.updated_on}
                        </div>
                        <div class="edit_trash_button">
                            <!--Display edit and delete button only if the post belongs to the logged in user -->
                            <i v-if="post.user_email===loggedin_user_email" class="fa fa-trash-o" v-on:click="delete_post(post.id)"></i>
                            <i v-if="post.user_email===loggedin_user_email" class="fa fa-pencil" aria-hidden="true" v-on:click="update_currently_editing(post.id, post.post_content)"></i>
                        </div>
                    </div>

                    <!--If the current post is currently_editing then display textarea and buttons to edit the post instead of the post itself-->
                    <div v-if="post.id == currently_editing">
                        <textarea v-model="edit_content" rows="5" cols="40">
                            ${edit_content}
                        </textarea>
                        <br><br><button class="btn btn-danger btn-sm post-edit-button" v-on:click="submit_edit(post.id)">
                            Post
                        </button>
                        <button class="btn btn-warning btn-sm cancel-button" v-on:click="update_currently_editing(0), clear_edit_content(null)">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div v-if="has_more" id="load-more">
                <button class="btn btn-default" v-on:click="get_more()">Load more</button>
        </div>

    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
