{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>

    var get_posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!--Vue calls go here-->
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <div class="button_bar">
            <button v-if="!is_adding_post" class="btn btn-danger btn-sm" v-on:click="add_post_button()" v-bind:class="{'disabled': !logged_in}">
                <i class="fa fa-plus"></i> Add new post
            </button>
            <button v-if="is_adding_post" class="btn btn-warning btn-sm" v-on:click="add_post_button()">
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>

        <div id="add-new-post" v-if="is_adding_post">
            <form action="#" v-on:submit.prevent="add_post" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_artist__row">
                    <div>
                        <input class="form-control string" id="no_table_content" v-model="form_content" placeholder="Add post content here" type="text" />
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="submit_record__row">
                        <input class="btn btn-primary post-button" id="add_post_submit" type="submit" value="Post" />
                </div>
            </form>
        </div>

        <!--old code here -->
        <div class="post_list">
            <div v-for="post in posts">
                <div class="post-content" v-if="post.id != currently_editing">
                    <p>${post.user_name}</p>
                    <div class="content">
                        ${post.post_content}
                    </div>
                    <div class="created_on">
                        ${post.created_on}
                    </div>
                    <div class="edit_trash_button">
                        <i v-if="post.user_email===loggedin_user_email" class="fa fa-trash-o" v-on:click="delete_post(post.id)"></i>
                        <i v-if="post.user_email===loggedin_user_email" class="fa fa-pencil-square-o" aria-hidden="true" v-on:click="update_currently_editing(post.id)"></i>
                    </div>
                    <br><br>
                </div>
                <div v-if="post.id == currently_editing">
                    <textarea v-model="edit_content">
                    </textarea>
                    <button class="btn btn-danger btn-sm" v-on:click="submit_edit()">
                        Post Edit
                    </button>
                    <button class="btn btn-warning btn-sm" v-on:click="update_currently_editing(0)">
                        <i class="fa fa-times"></i> Cancel
                    </button>

                </div>

            </div>
        </div>



        <div v-if="has_more" class="load-more">
                <button class="btn btn-default" v-on:click="get_more()">Load more</button>
        </div>

    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
