{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>

    var get_posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!--Vue calls go here-->
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <div class="button_bar">
            <button v-if="!is_adding_post" class="btn btn-danger btn-sm" v-on:click="add_post_button()" v-bind:class="{'disabled': !logged_in}">
                <i class="fa fa-plus"></i> New Post
            </button>
            <button v-if="is_adding_post" class="btn btn-warning btn-sm" v-on:click="add_post_button()">
                <i class="fa fa-times"></i> Cancel
            </button>
        </div>

        <div v-if="is_adding_post">
            <form action="#" v-on:submit.prevent="add_post" class="form-horizontal" enctype="multipart/form-data" method="post">
                <div class="form-group" id="no_table_artist__row">
                    <div>
                        <input class="form-control string" id="no_table_content" v-model="form_content" placeholder="Add post content here" type="text" />
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" id="submit_record__row">
                    <div>
                        <input class="btn btn-primary" id="add_post_submit" type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </div>

        <!--old code here -->
        <div class="post_list">
            <div v-for="post in posts">
                <p>${post.user_email}</p>
                <p>${post.post_content}</p>
                <p>${post.created_on}</p>
                <i class="fa fa-trash-o" v-on:click="delete_post(post.id)"></i>
                <br><br>
            </div>


        </div>
        <!--old code here -->


        <div v-if="has_more" class="show_more">
                <button class="btn btn-default" v-on:click="get_more()">Load more</button>
        </div>

    </div><!-- end vue div-->

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
