
.post_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

.post_list {
  padding-top: 10px;
}

.post-content {
  border-color: $clrPostBorder;
  border-style: solid;
  border-width: 1px;
  background: $clrPostBackground;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  @include border-radius(16px);
}

.content {
  font-size: 25px;
  word-wrap: break-word;
  padding: 0px 25px 10px 10px;
}

.created_on {
  display: inline-block;
  margin-right: 30px;
  color: #327bff;
}

.edited_on {
  display: inline-block;
  margin-right: 30px;
  color: #327bff;
}

.edit_trash_button {
  float: right;
}
